.container__risk-matrix {
    width: 360px;
    margin: 0 auto;
}

@media (min-width: 500px) {
    .container__risk-matrix {
        width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 800px) {
    .container__risk-matrix {
        width: 800px;
        margin: 0 0 0 20px;
    }
}

.input-sm__window {
    height: 38px;
    width: 65px;
    padding: 10px 10px 10px 15px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
}

.input-sm__window:focus {
    border: 1px solid var(--bright-blue);
}

.label__window {
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
}

.rowAreaResult {
    width: 65px;
}

.add-remove-icon {
    margin-left: 20px;
}

.add-remove-icon:hover {
    cursor: pointer;
}

.container__window-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 20px 0 auto;
}

.window-area__button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}