@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* ---------------------     START OF GLOBAL RESET     ---------------------  */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fbfbfb10;
}

:root {
    --background: #FBFBFB;
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #4A4A4A;
    --light-gray: #73788b;
    --border-gray: #e6e6e6;
    --blue: #7370f0;
    --bright-blue: #0E7EFF;
    --secondary-blue: #413DF7;
    
    --pink: #CF74D4;
    --light-blue: rgba(82, 78, 221, 60%);
    --box-shadow: rgba(74, 74, 74, 35%);
    --box-shadow-alt: rgba(74, 74, 74, 0.20);
    --new-blue: #4099FF;
}

@media print {
    .nav__ul, .nav__li, .primary-button, .secondary-button, .question-mark-primary, .additional-text, .add-remove-icon {
        display: none;
    }

    .App {
        -webkit-print-color-adjust: exact;
    }
}
/* ---------------------     END OF GLOBAL RESET     ---------------------  */

/* ---------------------     START OF TYPOGRAPHY     ---------------------  */
.h1 {
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    line-height: 30px;
}

.h2 {
    font-family: Noto Sans;
    font-size: 48px;
    line-height: 47px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.h3 {
    font-family: Noto Sans;
    font-size: 31px;
    line-height: 37px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.h3-0mg {
    font-family: Noto Sans;
    font-size: 31px;
    line-height: 37px;
    margin-left: 0px;
}

.h4 {
    font-family: Noto Sans;
    font-size: 25px;
    line-height: 30px;
    margin-left: 20px;
}

.h4-0mg {
    font-family: Noto Sans;
    font-size: 25px;
    line-height: 30px;
    margin-left: 0px;
}

.h5 {
    font-family:  Noto Sans;
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
}

.h5-0mg {
    font-family:  Noto Sans;
    font-size: 20px;
    line-height: 30px;
}

.body {
    font-family: Noto Sans;
    font-size: 16px;
    line-height: 24px;
}

.label {
    font-family: Noto Sans;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
}

.link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: var(--blue);
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.regular {
    font-weight: 400;
}

.text-700 {
    font-weight: 700;
}

.boldless {
    font-weight: 600;
}

.bold {
    font-weight: 800;
}

.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.link-large {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--blue);
}

@media (min-width: 800px) {
    .h1 {
        font-size: 60px;
        line-height: 65px;
    }

    .h2 {
        font-size: 52px;
        line-height: 54px;
    }
    
    .label {
        font-size: 13px;
    }

    .h3 {
        font-size: 35px;
        line-height: 47px;
    }
}
/* ---------------------     END OF TYPOGRAPHY     ---------------------  */

/* ---------------------     START OF COLOURS     ---------------------  */
.background{
    color: #FBFBFB;
}

.black {
    color: #000000;
}

.light-black {
    color: #1c1c1c;
}

.secondary-black {
    color: #343A40;
}

.light-gray {
    color: #73788b;
}

.dark-gray {
    color: #4A4A4A;
}

.blue {
    color: #7370f0;
}

.bright-blue {
    color: #4099FF;
}
.secondary-blue {
    color: #413DF7;
}

.light-blue {
    color: rgba(82, 78, 221, 60);
}

.pink {
    color: #CB46D3;
}

.secondary-pink {
    color: #dd33e6;
}

.warning {
    color: #f44336;
}
/* ---------------------     END OF COLOURS     ---------------------  */

/* ---------------------     START OF BUTTONS     ---------------------  */
.primary-button {
    width: 150px;
    padding: 10px 0;
    background-color: var(--pink);
    color: white;
    border: 2px solid var(--pink);
    border-radius: 4px;
}

.primary-button:hover {
    background-color: #A14BA6;
    border-color: #A14BA6;
    cursor: pointer;
}

.secondary-button {
    width: 150px;
    padding: 10px 0;
    background-color: #268BFF;
    color: white;
    border: 2px solid #268BFF;
    border-radius: 4px;
}

.secondary-button:hover {
    background-color: #1F70CC;
    border-color: #1F70CC;
    cursor: pointer;
}

.button-container {
    width: 360px;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
/* ---------------------     END OF BUTTONS     ---------------------  */

/* ---------------------     START OF IMAGES     ---------------------  */
.question-mark-primary {
    height: 20px;
    width: 20px;
}

.question-mark-primary__alt {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}
/* ---------------------     END OF IMAGES     ---------------------  */

/* ---------------------     START OF CONTENT CONTROLL    ---------------------  */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.jc__start {
    justify-content: flex-start;
}

.flex {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.column-gap-10 {
    column-gap: 10px;
}

.column-gap-20 {
    column-gap: 20px;
}

.row-gap-20 {
    row-gap: 20px;
}

.container-sm {
    width: 360px;
    margin: 0px auto 0 auto;
}

.container-md {
    width: 360px;
    margin: 0px auto 0 auto;
}

.container-lg {
    width: 360px;
    margin: 75px auto 0 auto;
}

.container-xl {
    min-width: 360px;
    max-width: 1600px;
    margin: 75px auto 0 auto;
}

.container-entry {
    width: 360px;
    margin: 75px auto 0 auto;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.no-margin-title {
    margin-left: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

@media (min-width: 500px) {
    .container-md {
        width: 500px;
    }

    .container-lg {
        width: 500px;
    }

    .container-entry {
        width: 500px;
    }
}

@media (min-width: 800px) {
    .container-md {
        width: 500px;
        margin: 0 0 0 20px;
    }
   
    .container-lg {
        width: 800px;
    }

    .container-entry {
        width: 100%;
    }
}


/* ---------------------     END OF CONTENT CONTROLL    ---------------------  */

/* ---------------------     START OF TABLE DESIGN CONTROLS    ---------------------  */
.table-sm {
    width: 320px;
    border-spacing: 10px;
    border: none;
}

.table-row {
    margin-bottom: 10px;
}

.select-sm {
    width: 130px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.select-md {
    width: 170px;
    padding: 10px 10px 10px 15px;
    margin-left: 5px;
    outline: none;

    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.select-lg {
    width: 320px;
    height: 55px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    text-overflow: ellipsis;
    white-space:pre-wrap;
}

.select-overflow {
    text-overflow: ellipsis;
    white-space:pre-wrap;
}

.select-height {
    height: 60px;
}

.select-max {
    width: 320px;
    height: 73px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    text-overflow: ellipsis;
    white-space:pre-wrap;
}

.select-lg:focus, .select-max:focus, .select-sm:focus, .select-md:focus {
    border: 1px solid var(--bright-blue);
}

.input-sm {
    width: 80px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.input-md {
    width: 130px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}


.input-lg {
    min-width: 300px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.input-lg:focus, .input-sm:focus, .input-md:focus {
    border: 1px solid var(--bright-blue);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (min-width: 500px) {
    .select-lg {
        width: 440px;
        height: 55px;
    }

    .select-max {
        width: 440px;
        height: 60px;
    }

    .input-lg {
        width: 440px;
    }
}

@media (min-width: 800px) {
    .select-lg {
        width: 700px;
        height: auto;
    }

    .select-max {
        width: 700px;
    }

}
/* ---------------------     END OF TABLE DESIGN CONTROLS    ---------------------  */