.card-large-alt {
    margin: 10px auto 75px auto;
    padding: 0px 20px;
}

/* @media (min-width: 500px) {
    .card-large-alt {
        width: 500px;
    }
}

@media (min-width: 800px) {
    .card-large-alt {
        width: 800px;
    }
} */