.card-medium {
    background-color: white;
    width: 360px;
    margin: 10px auto 75px auto;
    padding: 30px 30px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px 0px;
}

@media (min-width: 500px) {
    .card-medium {
        width: 500px;
        margin: 10px auto 75px auto;

    }
}

@media (min-width: 800px) {
    .card-medium {
        width: 500px;
        margin: 10px 0 75px 0px;
    }
}